# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ayham\OneDrive - Avans Hogeschool\Proftaak\_3_LU 3 Realisatie OO\vorm-analyse-tool-VAT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
